{% extends "_layout.html" %}
{% from "_components.html" import paragraph, button, small %}
{% block title %}You're invited to the leads dashboard{% endblock %}
{% block preheader %}Choose a password to finish setting up your attorney account.{% endblock %}
{% block eyebrow %}Invitation{% endblock %}
{% block heading %}You're invited, <span style="color:#054d2a;">{{ user.full_name }}.</span>{% endblock %}
{% block content %}
{% call paragraph() %}You've been given an attorney account on the leads dashboard. Choose a password to finish setting it up.{% endcall %}
{{ button(link, "Set up your account") }}
{% call small() %}The link works once and expires in {{ expiry_hours }} hours. If it has expired, ask the colleague who invited you to send a new one.{% endcall %}
{% endblock %}
{% block footer %}If you weren't expecting this invitation, you can ignore this email.{% endblock %}
