{% extends "_layout.html" %}
{% from "_components.html" import paragraph, facts, small %}
{% block title %}We received your information{% endblock %}
{% block preheader %}Thanks, {{ lead.first_name }}. An attorney will review your details and reach out.{% endblock %}
{% block eyebrow %}Request received{% endblock %}
{% block heading %}Thanks, <span style="color:#054d2a;">{{ lead.first_name }}.</span>{% endblock %}
{% block content %}
{% call paragraph() %}We've received your information and resume. An attorney on our team will review your background and reach out to talk through your options.{% endcall %}
{{ facts([("What happens next", "An attorney reviews your details"), ("We'll contact you at", lead.email)]) }}
{% call paragraph() %}There's nothing else you need to do for now.{% endcall %}
{% endblock %}
{% block footer %}You're receiving this because you submitted the form on our website.{% endblock %}
